*{
    padding: 0px;
    margin: 0px;
}
.heading h1{
    font-size: 64px;
    padding: 84px; 
    margin-top: -50px;
}
.heading a{
    text-transform: uppercase;
    font-size: 45px;
    padding: 20px
}
.heading{
    text-align: center;
}
#wapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.text{
    display: flex;
    /* justify-content: space-between; */
}
.box{
    border: .5px solid;
    width: 700px;
    height: 800px;
    margin: 15px;
    padding: 10px;
    background-color: white;
}
.box .format{
    font-size: 32px;
    text-align: left;
    padding-top: 30px;
}
.text h2{
    font-size: 32px;
}
.text h3{
    font-size: 28px;

}
.text .type{
    padding-right: 180px;
    margin-top: 30px;
}
.text .icon{
    padding-right: 20px;
    font-size: 32px;
    padding-top: 30px;
    color: blue;

}
.text .image{
    margin: 30px;
    padding-right: 40px;
    
    
}
.star{
    display: flex;
    margin-top: 50px;
}
   
    
.star i{
    color:#0f0;
    font-size: 28px;
}
.star p{
    font-size: 28px;
}
.last {
    

text-align: center;
margin-top: 100px;


   
}
.last a{
    font-size: 60px;
    padding: 20px;
    align-items: center;
    color:rgb(181, 181, 185);
}
.last a:first-child{ 
    color: #0f0;
}